html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply transition-all duration-200;
  }
  /* Esto asegura que si falta un color, al menos el texto sea legible */
  body {
    @apply bg-white text-slate-900;
  }
}
